@import "tailwindcss";
@import "../config/theme";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);

  --default-font-family: var(--font-serif);
}

@layer base {
  svg {
    display: inline-block;
  }

  .font-calligraphy {
    font-family: var(--font-calligraphy, var(--font-serif));
  }
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  #atcb-customTrigger-atcb-btn-custom-host {
    display: none;
  }
}
