@import "tailwindcss";
@import "../config/theme";

@theme inline {
  --font-sans: var(--font-alegreya-sans), var(--font-sans);
  --font-serif: var(--font-alegreya-serif), var(--font-serif);

  --default-font-family: var(--font-serif);
}

@layer base {
  svg {
    display: inline-block;
  }

  .font-calligraphy {
    font-family: var(--font-calligraphy), var(--font-serif);
  }
}